In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [7]:
books = pd.read_csv('./data/Books.csv')
users = pd.read_csv('./data/Users.csv')
ratings = pd.read_csv('./data/Ratings.csv')

/tmp/ipykernel_59193/3352747011.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('./data/Books.csv')

In [ ]:
## Books

In [8]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [10]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [14]:
books.drop_duplicates(keep = "first", inplace = True)
books.reset_index(inplace = True, drop = True)

In [15]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-L          271357 non-null  object
dtypes: object(6)
memory usage: 12.4+ MB

In [ ]:
## Users

In [16]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [17]:
users.drop_duplicates(keep = "first", inplace = True)
users.reset_index(inplace = True, drop = True)

In [18]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [ ]:
## Rating

In [20]:
ratings.head(10)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
5   276733  2080674722            0
6   276736  3257224281            8
7   276737  0600570967            6
8   276744  038550120X            7
9   276745   342310538           10

In [21]:
ratings.drop_duplicates(keep = "first", inplace = True)
ratings.reset_index(inplace = True, drop = True)

In [22]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [23]:
num_ratings = ratings.groupby("User-ID")["Book-Rating"].count()

In [24]:
num_ratings = pd.DataFrame(num_ratings)
num_ratings.rename(columns = {"Book-Rating" : "num_rating"}, inplace=True)
num_ratings

         num_rating
User-ID
2                 1
7                 1
8                18
9                 3
10                2
...             ...
278846            2
278849            4
278851           23
278852            1
278854            8

[105283 rows x 1 columns]

In [25]:
ratings = pd.merge(ratings, num_ratings, on="User-ID")
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
 3   num_rating   1149780 non-null  int64
dtypes: int64(3), object(1)
memory usage: 35.1+ MB

In [26]:
ratings = ratings[ratings["num_rating"] > 50]
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Index: 765672 entries, 173 to 1149748
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   User-ID      765672 non-null  int64
 1   ISBN         765672 non-null  object
 2   Book-Rating  765672 non-null  int64
 3   num_rating   765672 non-null  int64
dtypes: int64(3), object(1)
memory usage: 29.2+ MB

In [ ]:
## Merge

In [28]:
df = pd.merge(ratings, books, on="ISBN")

In [30]:
df.head(10)

,User-ID,ISBN,Book-Rating,num_rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,276847,0446364193,0,51,Along Came a Spider (Alex Cross Novels),James Patterson,1993,Warner Books,http://images.amazon.com/images/P/0446364193.0...
1,276847,3379015180,0,51,Schlafes Bruder,Robert Schneider,1994,"Reclam, Leipzig",http://images.amazon.com/images/P/3379015180.0...
2,276847,3404145909,8,51,Der Stein der Kelten.,Michael Phillips,2001,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404145909.0...
3,276847,3404148576,8,51,Nordermoor,Arnaldur Indridason,2003,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404148576.0...
4,276847,3404921178,7,51,Nur der Tod ist ohne Makel.,Ann Granger,2002,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404921178.0...
5,276847,3423071516,10,51,Der Kleine Hobbit,J. R. R. Tolkien,2002,Distribooks,http://images.amazon.com/images/P/3423071516.0...
6,276847,3423204885,0,51,Die Benachteiligung erfolgt durch die Post. St...,Georg Friedrich Nikol,2001,Dtv,http://images.amazon.com/images/P/3423204885.0...
7,276847,3423205806,0,51,Lieber Sport als Mord.,Horst Bosetzky,2002,Dtv,http://images.amazon.com/images/P/3423205806.0...
8,276847,3426622610,0,51,Gratsch.,Jockel Tschiersch,2003,"Droemersche Verlagsanstalt Th. Knaur Nachf., G...",http://images.amazon.com/images/P/3426622610.0...
9,276847,3426671298,8,51,Das geheime ABC der Toten.,Patricia Cornwell,1997,"Droemersche Verlagsanstalt Th. Knaur Nachf., G...",http://images.amazon.com/images/P/3426671298.0...

In [34]:
df.groupby(['Book-Title', 'Book-Rating']).count().sort_values(by='User-ID', ascending=False)

,,User-ID,ISBN,num_rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
Book-Title,Book-Rating,,,,,,,
Wild Animus,0,736,736,736,736,736,736,736
The Lovely Bones: A Novel,0,332,332,332,332,332,332,332
The Nanny Diaries: A Novel,0,276,276,276,276,276,276,276
Bridget Jones's Diary,0,276,276,276,276,276,276,276
A Painted House,0,276,276,276,276,276,276,276
...,...,...,...,...,...,...,...,...
"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",0,1,1,1,1,1,1,1
Dark Justice,10,1,1,1,1,1,1,1
Clifford Visita El Hospital (Clifford El Gran Perro Colorado),0,1,1,1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,0,1,1,1,1,1,1,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",8,1,1,1,1,1,1,1

In [35]:
book_rating_counts = df.groupby("Book-Title")["Book-Rating"].count()
df = df[df["Book-Title"].isin(book_rating_counts[book_rating_counts > 100].index)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69927 entries, 0 to 700841
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   User-ID              69927 non-null  int64
 1   ISBN                 69927 non-null  object
 2   Book-Rating          69927 non-null  int64
 3   num_rating           69927 non-null  int64
 4   Book-Title           69927 non-null  object
 5   Book-Author          69927 non-null  object
 6   Year-Of-Publication  69927 non-null  object
 7   Publisher            69927 non-null  object
 8   Image-URL-L          69927 non-null  object
dtypes: int64(3), object(6)
memory usage: 5.3+ MB

In [36]:
aggregated_df = df.groupby(['User-ID', 'Book-Title']).agg({'Book-Rating': 'mean'}).reset_index()
aggregated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68291 entries, 0 to 68290
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User-ID      68291 non-null  int64
 1   Book-Title   68291 non-null  object
 2   Book-Rating  68291 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ MB

In [37]:
df = pd.merge(aggregated_df, df.drop(columns=['Book-Rating']), on=['User-ID', 'Book-Title'])
df.drop_duplicates(subset=['User-ID', 'Book-Title'], keep='first', inplace=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 68291 entries, 0 to 69926
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   User-ID              68291 non-null  int64
 1   Book-Title           68291 non-null  object
 2   Book-Rating          68291 non-null  float64
 3   ISBN                 68291 non-null  object
 4   num_rating           68291 non-null  int64
 5   Book-Author          68291 non-null  object
 6   Year-Of-Publication  68291 non-null  object
 7   Publisher            68291 non-null  object
 8   Image-URL-L          68291 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 5.2+ MB

In [39]:
pivot = df.pivot(index='Book-Title', columns='User-ID', values='Book-Rating')
pivot

User-ID,183,243,254,507,626,638,741,882,929,1025,...,277928,277965,278026,278137,278144,278188,278418,278582,278633,278843
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,0.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wild Animus,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
Wish You Well,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Without Remorse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wuthering Heights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
pivot.fillna(value = 0, inplace = True)

In [42]:
pivot

User-ID,183,243,254,507,626,638,741,882,929,1025,...,277928,277965,278026,278137,278144,278188,278418,278582,278633,278843
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wild Animus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wish You Well,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Without Remorse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
from scipy.sparse import csr_matrix
matrix = csr_matrix(pivot)
matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 21665 stored elements and shape (425, 3117)>

In [44]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(n_neighbors= 11, algorithm="brute", metric = "cosine")
model.fit(matrix)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=11)

In [45]:
def get_book_recommendations(book_title, model, pivot):
    if book_title not in pivot.index:
        return "Book title not found."

    book_index = pivot.index.get_loc(book_title)
    distances, indices = model.kneighbors(pivot.iloc[book_index, :].values.reshape(1, -1), n_neighbors=11)
    recommended_books = [pivot.index[i] for i in indices.flatten()][1:]
    return recommended_books

In [ ]:
# Book recommendation

In [46]:
input_book = df["Book-Title"].iloc[6]
print("Recommendations for book:", input_book)
recommendation = get_book_recommendations(input_book, model, pivot)

for i in recommendation:
    print(i)

Recommendations for book: 2nd Chance
Four Blind Mice
The Beach House
Violets Are Blue
1st to Die: A Novel
Flesh and Blood
When the Wind Blows
The Next Accident
Cat &amp; Mouse (Alex Cross Novels)
The Summons
Final Target